.interfaceManagement {
  display: flex;
  padding: 10px;

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }

  .select {
    width: 100%;
  }

  .rightBtn {
    margin-left: 10px;
  }
}

.row {
  padding-bottom: 10px;
}

.label {
  text-align: right;
  line-height: 30px;
}
.labelText {
  line-height: 30px;
}
ul.list {
  list-style: none;
  > li {
    line-height: 30px;
  }
}